<div id="fb-root"></div>

<div class="banner-box">		
  <% @banners.each_with_index do |banner, index| %>
  <%= content_tag :div, :id => "banner-"+index.to_s, :class => "banner", :hidden => "true" do -%>
      <%= image_tag(banner.image.url, :class => "banner" ) %>
    <% end -%>
  <% end %>
  <div class="left-arrow">
    <%= image_tag("arrow-left-large-shadow.png", :class => "left-arrow" ) %>
  </div>
  <div class="right-arrow">
    <%= image_tag("arrow-right-large.png", :class => "right-arrow" ) %>
  </div>
</div>

<div class="content-boxes">
  <%= image_tag("news-shadow.png", :class => "news-shadow" ) %>
  <p class="news-shadow">News</p>
  <div class="content-box"><br /><br /><br /><br />
  <% if !@news.nil? %>
    <% @news.each do |news| %>
    <%= link_to news.title, news_path(news) %>: <%=h truncate(news.content, :length => 40) %> <br /><br />
    <% end %>
  <% end %>
    <%= link_to "All News", news_index_path %>
  </div>
  <div class="content-box"><div class="fb-like-box" data-href="http://www.facebook.com/platform" data-width="460" data-height="260" data-show-faces="false" data-stream="true" data-header="false"></div></div>
  <%= image_tag("facebook-large.png", :class => "facebook-large") %>
  <%= image_tag("latest-posts-shadow.png", :class => "latest-posts-shadow") %>
  <p class="latest-posts-shadow">Latest Posts</p>
</div>