
<div class="main-content">
  <%= image_tag("news-shadow.png", :class => "page-title" ) %>
  <p class="page-title">Tour</p>
  <div class="content-left">
  <%= image_tag("content-bar.png", :class => "content-bar") %>
  </div>
  <div class="content-right">
		<% @slides.each_with_index do |slide, index| %>
    <%= content_tag :div, :id => "slide-"+index.to_s, :class => "slide", :hidden => "true" do -%>
    <%= image_tag(slide.image.url, :class => "tour-main" ) %>
		<% end -%>
    <% end %>

    <br /><br />
    <% @images.each do |image| %>
      <%= image_tag ("tour/#{image.split('/').last}"), :class => 'tour-nav-images' %>
    <% end %>

    </div>
</div>