<!DOCTYPE html>
<html>
<head>
  <title>Lionheart</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta content='width=device-width, initial-scale=0.7, user-scalable=1' name='viewport' />
  <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="admin-nav">
    <p class="admin-nav">
      <ul class="admin-nav">
        <% if admin_signed_in? %>
          <li class="nav"><%=  link_to "Banners", banners_path, :class => "admin-nav" %>
          <%= image_tag("menu-bar.png", :class => "nav-divider") %></li>
          <li class="nav"><%=  link_to "Slides", slides_path, :class => "admin-nav" %>
          <%= image_tag("menu-bar.png", :class => "nav-divider") %></li>
          <li class="nav"><%= link_to "Sign out", destroy_admin_session_path, :method => :delete, :class => "admin-nav" %>
          <%= image_tag("menu-bar.png", :class => "nav-divider") %></li>
        <% end %>
    </ul>
    </p>
  </div>
<div class="header">
  <div class="header-logo">
  <%=  link_to image_tag("logo.png", :size => "150x150", :border => "0"), root_path %>
  </div>
  <div class="header-nav">
    <p class="nav">
      <ul class="nav">
        <li class="nav"><%=  link_to "Home", root_path, :class => "nav" %></li>
        <li class="nav"><%=  link_to "Tour", tour_path, :class => "nav" %>
        <%= image_tag("menu-bar.png", :class => "nav-divider") %></li>
        <li class="nav"><%=  link_to "Contact Us", contact_path, :class => "nav" %>
        <%= image_tag("menu-bar.png", :class => "nav-divider") %></li>
        <li class="nav"><%=  link_to "About Us", about_path, :class => "nav" %>
        <%= image_tag("menu-bar.png", :class => "nav-divider") %></li>
      </ul>
    </p>
  </div>

</div>
  <%= image_tag("header-shadow.png", :class => "header-shadow") %>
  <div class="content">
    <%= yield %>
  </div>
  <div class="footer-box">
    <div class="footer">
      <div class="footer-contact">
        <p class="footer">
          <%= render :partial => "content/address_information" %>
        <br />
        <%=  link_to "Contact Us", contact_path, :class => "footer" %>
        </p>
      </div>
      <div class="footer-map">
        <p class="map"><a href ="#" class="map">Home</a><br />
        <%=  link_to "Tour", tour_path, :class => "map" %><br />
        <%=  link_to "Contact Us", contact_path, :class => "map" %><br />
        <%=  link_to "About Us", about_path, :class => "map" %><br />
        <%=  link_to "News", news_index_path, :class => "map" %><br />
        <a href ="#" class="map"><%= image_tag("facebook-small.png", :class => 'map-image') %>Facebook</a></p>
      </div>
      <div class="footer-logo">
        <%= image_tag("footer-lion.png", :align => "center") %>
      </div>
    </div>
  </div>
</body>
</html>
